.character-container {
    input {
      display: flex;
      justify-content: center;
      width: 400px;
      max-width: 600px;
      margin: auto;
      margin-top: 16px;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }
    .cards-container {
      padding: 10px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 16px;
      justify-content: center;
      max-width: 600px;
      margin: auto;
      min-height: 600px;
    }
    .pagination {
      display: flex;
      justify-content: center;
      margin-top: 16px;
      color: #fff;
      align-items: center;
      gap: 16px;
      button {
        background-color: #000;
        color: #fff;
        border: none;
        padding: 10px;
        border-radius: 5px;
      }
    }
    .no-characters-found {
      text-align: center;
      color: #fff;
      font-size: 24px;
      font-weight: bold;
    }
  }
  